.email-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: rgb(119, 144, 119);
	gap:20px;
}

.success-img{
	width: 200px;
	object-fit: cover;
}
